<div class="modal-header  " align = "center">
<h1>Your answer was incorrect! </h1>
</div>
<div class="modal-body" align="center">
<h3>The Correct Answer is <%= @correct_answer %></h3> 
</div>
 <div class="modal-footer">
<%= link_to 'Okay',root_path,{ :class=>"btn btn-primary center-block" }  %>
</div>