<h1>Leaderboard</h1>
<table style='width: 100%'>
  <tr>
    <th>Rank</th>
    <th>Name</th>
    <th>Value</th>
  </tr>
  <% @leaders.each do |leader|  %>
    <%= render_cell :entry, :show, entry: entry %>
  <% end %>
</table>
<%= paginate @page_array %>
