<div class="center jumbotron">
    <h1>GameVesters!</h1>

    <h2>
      Learn to Trade, none of the risk.
    </h2>

    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>