<% provide(:title, "Help") %>
	<div class="container">
		<h1 class="h1center">Help</h1>
		<div class="well well-sm center">
		<p><b>New user creation</b></p>
		<ul>
			<li>Create a new user with any valid email</li>
			<li>Activate account by email verification</li>
			<li>Also able to reset password through email verification</li>
			<li>Default currency will be given at 100,000 for first time sign up</li>
		</ul>
		<p><b>Search stocks by symbol</b></p>
		<ul>
			<li>Search stocks by their ticker symbol!</li>
			<li>Examples: => 'goog', 'appl', 'yhoo'</li>
			<li>Search by the search bar on top navbar</li>
			<li>Results rendered on any page</li>
		</ul>
		<p><b>Add stocks to portfolio (track stocks)</b></p>
		<ul>
			<li>Able to 'Track stocks' after searching a result, viewing stocks detail page, or through the list of all stocks</li>
			<li>Stocks added will be displayed on homepage above trending stocks</li>
			<li>Tracked stocks also displayed in 'My Profil' page for you to have a quick glance over their stats</li>
		</ul>
		<p><b>Buy Sell Transactions</b></p>
		<ul>
			<li>Able to buy sell stocks and see the transactions</li>
			<li>Click buy or sell action on stocks detail page, index list, or during a search</li>
			<li>Flash message will appear comfirming the transaction (if successful).</li>
			<li>Modal pops up to submit transaction</li>
			<li>You can view your own transaction history</li>
		</ul>

		<p><b>(Daily) Login Rewards</b></p>
		<ul>
			<li>Users will be awarded 20,000 rubies every 24 hours when they login</li>
		</ul>
		<p><b>Daily Challenge Questions</b></p>
		<ul>
			<li>An 'Answer Daily Questions' button on every page if user has signed in every 24 hours</li>
			<li>Answer a finance related question correctly to earn more rubies!</li>
		</ul>
		<p><b>Follow other users</b></p>
		<ul>
			<li>You can follow other users to see how they are doing and learn their trading behavior.</li>
			<li>To follow a user, go to Users page, and search for a particular user or select one from the list.</li>
			<li>Click on the user name and jump to their public profile page.</li>
			<li>Click the big blue 'Follow' button to follow them.</li>
		</ul>
		<p><b>Notification system</b></p>
		<ul>
			<li>Notification system will be used for following status or followed users' buying/selling information.</li>
			<li>Front-end is in place for viewing on the top right hand corner.</li>
		</ul>
		

		<p><b>Leaderboard</b></p>
		<ul>
			<li>Leaderboard comparing networth and percent increase for all users playing!</li>
			<li>Networth and increase calculations based on users current progress</li>

		</ul>
		<p><b>Graph users progress!</b></p>
		<ul>
			<li>Graph of users current networth under their profile page</li>
			<li>Calculating their change in networth per day, display onto a chart to view progress</li>
		</ul>
		</div>
	</div>
	