<% if current_user.can_add_stock?(@stock.symbol) %>
<%= link_to "Add to my Stocks", user_stocks_path(user: current_user, stock_symbol: @stock.symbol, stock_id: @stock.id ? @stock.id : ''), class: 'btn btn-xs btn-success', method: :post %>

<% else %>

<span class="label label-default">
  Cannot track this stock becuase you have tracked
  <% if !current_user.under_stock_limit? %>
  10 stocks.
  <% end %>
  <% if current_user.stock_already_added?(@stock.symbol) %>
  this stock.
  <% end %>
</span>
<% end %>

<%= link_to "Buy", new_transaction_path, user_id: current_user.id, stock_id: @stock.id, stock_price: @stock.current_price, buy_sell: true, method: "get", class: "btn btn-xs btn-primary"%>

