<% provide(:title, 'All company Listings') %>
<h1>Company listings</h1>


<table class="table">
	<tr>
		<th>Name:</th>
		<th>Symbol:</th>
		<th>Quote:</th>
		<th>Up/Down</th>
		<th>Actions:</th>

	</tr>
	
  <% @stocks.each do |stock| %>
    <tr>
      <td><%= stock.name %></td>
      <td><%= stock.symbol %></td>
		<td><%= stock.current_price%></td>
		<td><%= stock.amount_change %></td>
		<td>3 buttons</td>
    </tr>
  <% end %>
</table>





