#leaderboard-title {
  text-align: center;
}

#leaderboards {
  width: 700px;
  margin: 0 auto;

  th.center-align {
    text-align: center;
  }

  .rank-value {
    text-align: right;
  }

  tr.leader-table-header {
    background-color: #85bf4b;
  }

  tr {
    border-top: solid 1px #85bf4b;
  }

  td {
    padding: 10px;
  }

  th {
    padding: 5px;
  }

  td a {
    font-weight: 600;
    &:hover{
      color: #000000;
    }
  }

  #first-place td {
    font-size: 24px;
  }

  #second-place td {
    font-size: 20px;
  }

  #third-place td {
    font-size: 16px;
  }
}

.leaderboard-tab {
  font-size: 16px;
  width: 200px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

  a:hover {
    color: black;
  }
}

.left {
  border: 1px solid #85bf4b;
  border-radius: 5px 0 0 5px;
  padding: 3px 5px;
  position: relative;
  left: 3px;
}

.right {
  border: 1px solid #85bf4b;
  border-radius: 0 5px 5px 0;
  padding: 3px 5px;
  position: relative;
  right: 3px;

}

.current {
  background-color: #85bf4b;
  color: white;
}
