<div class="modal fade" id="new-transaction-modal" tabindex="-1" role="dialog" aria-labelledby="New Transaction">
  <div class="modal-dialog transaction-modal" role="document">
    <div class="modal-content transaction-modal-content">
        Form content cannot be displayed.
    </div>
  </div>
</div>
