<div class="row searchresults">
	<div id="stock-lookup-results" class="col-md-6">
	        
	</div>

	<div id="search-results" class="col-md-4">
	    <div id="stock-lookup-results">
		</div>
		<div id="stock-lookup-chart">
		</div>
	</div>

</div>